table {
  width: 100%;
  vertical-align: top;
}
.table-container {
  height: 100%;
  overflow: auto;
}
.mat-cell {
  padding-right: 5px;
}
.mat-header-row {
  height: 0%;
}

.mat-row {
  height: 0%;
}

.ripple-container {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}
